.navbar {
    background-color: rgb(35, 37, 43);
    height: 3.75rem;
    padding-left: 4% !important;
    padding-right: 4% !important;
}

.nav-item {
    background-color: transparent;
    height: 3.75rem;
    width: auto;
    align-items: center;
    display: flex;
    padding: 0 10px;
    font-family: "Lato", sans-serif;
    font-size: 1rem;

    &:hover,
    &.show {
        background-color: rgba(20, 20, 20, 0.966) !important;
    }
}

.nav-item.dropdown {
    background-color: transparent;

    &.show {
        background-color: rgba(20, 20, 20, 0.966); 
    }

    &:hover {
        background-color: rgba(20, 20, 20, 0.966); 
    }

    .dropdown-toggle {
        color: rgb(255, 255, 255); 
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .dropdown-menu {
        background-color: rgb(20, 20, 20); 
        border: none;
        transition: background-color 0.3s ease;
    }
}

.nav-link {
    color: rgb(218, 218, 218) !important;
}


/* Logo Crunchyroll */
.logo-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
        .logo-svg {
            fill: rgb(255, 255, 255);
        }

        .title-nav {
            color: rgb(255, 255, 255);
        }
    }

    .logo-svg {
        width: 28px;
        height: 26px;
        fill: rgb(255, 100, 10);
        transition: fill 0.3s ease;
    }

    .title-nav {
        font-family: 'Work Sans', sans-serif;
        font-weight: 600;
        color: rgb(255, 100, 10);
        font-size: 20px;
        transition: color 0.3s ease;
    }
}

/*Conf Menu Noticias e Navegar*/
.dropdown-menu {
    margin-top: -1px !important;
    border-radius: 0 !important;
    width: 861.4px;
  
    /* Estilo geral para os itens do menu */
    .dropdown-item {
      color: rgb(218, 218, 218) !important;
      height: 42px;
      font-size: 14px;
      font-family: "Lato", sans-serif;
      padding: 12px 16px;
  
      &:hover {
        background-color: rgba(35, 37, 43, 0.9);
        color: #fff !important;
      }
    }
  
    /* Configuração do layout das colunas */
    .dropdown-columns {
      display: grid;
      grid-template-columns: 13.75rem 1fr; /* Primeira coluna fixa e gêneros ao lado */
  
      /* Primeira coluna com estilos específicos */
      .first-column {
        display: flex;
        flex: 1;
        flex-direction: column;
      }
  
      /* Gêneros em 3 colunas */
      .genres-section {
        border-left: 0.125rem solid rgb(35, 37, 43); /* Linha divisória vertical */
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 colunas iguais */
      }
  
      /* Título "Gêneros" */
      .dropdown-title {
        grid-column: span 3; /* Ocupa as 3 colunas */
        font-size: 16px;
        color: rgb(160, 160, 160);
        padding: .8125rem 1rem;
      }
    }

    .dropdown-item-2 {
        width: 18.75rem;
        padding-left: 5%;
    }
}

.free-trial-set {
    display: flex;
    align-items: center; /* Alinha a coroa e o texto verticalmente */
    padding: 0 13px;
    font-weight: 600;
    font-size: 10px;
    font-family: "Lato", sans-serif;
   
    .joint-text {
      display: flex;
      flex-direction: column;
      align-items: flex-start; 
      padding-left: 10px;
      line-height: 0.875rem; /* Espaçamento entre as linhas de texto */
    }
  
    .text-testfree {
      margin: 0;
      color: rgb(250, 184, 24);
      font-weight: bold;
    }
}