.navbar {
    background-color: rgb(35, 37, 43);
    height: 3.75rem;
}

.logo-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover .logo-svg {
        fill: rgb(255, 255, 255);
    }

    &:hover .title-nav {
        color: rgb(255, 255, 255); 
    }
}

.title-nav {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    color: rgb(255, 100, 10);
    font-size: 20px;
    transition: color 0.3s ease;
}

.logo-svg {
    width: 28px;
    height: 26px;
    fill: rgb(255, 100, 10); 
    transition: fill 0.3s ease;
}

.btn-dark {
    border-radius: 0 !important;
    margin-right: 0.6rem !important;
    width: 120px;
    height: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px !important;
    font-weight: 600 !important;
    letter-spacing: 0.04em;
    text-align: center;
    transition: background-color 0.3s ease;

    &.bg-black:hover {
        background-color: rgba(20, 20, 20, 0.966) !important; 
    }

    &.bg-transparent {
        color: rgba(255, 255, 255, 0.75); 
        border-color: rgba(255, 255, 255, 0.75) !important; 
        transition: color 0.3s ease, border-color 0.3s ease;

        &:hover {
            color: rgb(255, 255, 255); 
            border-color: rgb(255, 255, 255) !important; 
        }
    }
}