<!--O código insere o valor de column[:column] como parte da classe CSS -->
<div class="dropdown-column <%= column[:column] %>"> 
    <% if column[:title] %> <!--Verifica se a chave :title está presente no hash da coluna.-->
        <li class="dropdown-title genero-text"><p><%= column[:title] %></p></li>
    <% end %>
    
    <% column[:items]&.each do |item| %>
        <li><a class="dropdown-item" href="<%= item[:href] %>"><%= item[:text] %></a></li>
    <% end %>
</div>

<!--Verifica se a chave :items existe e não é nil. Se existir, itera sobre cada item no array.
Cada item é um hash com chaves como :text (texto do link) e :href (URL do link).-->