<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="#">
            <%= image_tag 'logo.png', alt: 'Logo', width: 24, height: 24, class: 'me-2 d-none d-lg-block' %>
            <span class="d-none d-lg-inline">Crunchyroll</span>
            <%= image_tag 'logo.png', alt: 'Logo', width: 24, height: 24, class: 'd-lg-none' %>
        </a>

        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="btn btn-primary me-2" href="#">Login</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-secondary" href="#">Explorar</a>
            </li>
        </ul>
    </div>
</nav>