<div class="container-fluid p-0" id="home">
   <%= render partial: "layouts/menu/menu" %>
   <div id="carouselExampleFade" class="carousel slide carousel-fade mb-2">
      <div class="carousel-inner">
         <!-- Primeira Imagem do Carousel -->
         <div class="carousel-item active">
         <%= image_tag "one-piece.png", class: "img-carousel" %>
         <!-- Área Sobreposta -->
         <div class="carousel-overlay">
            <div class="text-light">
               <%= image_tag "logo-one-piece.png", class: "img-carousel-logo" %>
               <p class="caption">Dub | Leg</p>
               <p class="text-carousel">
               Embarque em uma jornada com One Piece. A épica série de anime criada pelo renomado Eiichiro Oda é um fenômeno, 
               cativando corações de fãs de várias gerações ao longo de seus 25 anos de existência. Esta aventura em alto-mar é 
               repleta de amizades inabaláveis, batalhas pela liberdade e a incessante busca pelos sonhos...
               </p>
               <a href="#" class="btn btn-warning fw-bold">Assistir Agora</a>
            </div>
         </div>
         </div>
         <!-- Segunda Imagem do Carousel -->
         <div class="carousel-item position-relative">
         <img src="..." class="d-block w-100 h-100" style="object-fit: cover;" alt="...">
         <div class="carousel-overlay position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1));">
            <div class="text-light ms-4">
               <h5 class="fw-bold">Outro Título</h5>
               <p>Descrição para outra imagem no carousel...</p>
            </div>
         </div>
         </div>
         <!-- Terceira Imagem do Carousel -->
         <div class="carousel-item position-relative">
         <img src="..." class="d-block w-100 h-100" style="object-fit: cover;" alt="...">
         </div>
      </div>
    <!-- Botões de Controle -->
      <button class="carousel-control-prev arrow-carousel" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
         <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="arrow-carousel-detail" role="img" aria-hidden="true">
            <path d="M15.4 16.6L14 18l-6-6 6-6 1.4 1.4-4.6 4.6z" />
         </svg>
      </button>
      <button class="carousel-control-next arrow-carousel" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
         <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="arrow-carousel-detail" role="img" aria-hidden="true">
            <path d="M8.6 7.4L10 6l6 6-6 6-1.4-1.4 4.6-4.6z" />
         </svg>
      </button>
   </div>
</div>