<nav class="navbar fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Crunchyroll</a>
        <div class="d-flex">
            <a class="nav-link active" aria-current="page" href="#">Iniciar a Sessão</a>
            <a class="nav-link" href="#">Explorar</a>
        </div>
    </div>
</nav>

<div class="container-fluid p-0">
    <div class="content">
        <img src="./fundo.jpg" alt="Fundo" class="img-fluid w-90 h-100">
    </div>
</div>
