<div class="container-fluid p-0" id="home">

    <%= render partial: "home/menu" %>

    <div class="content">
        <div class="vscode-card">
            <%= image_tag 'fundo.jpg', class: 'img-fluid w-90 h-100' %>
        </div>
    </div>
</div>
