<div class="container-fluid p-0" id="home">
   <%= render partial: "layouts/menu/menu" %>
   <div id="carouselExampleFade" class="carousel slide carousel-fade mb-2">
      <div class="carousel-inner">
         <!-- Primeira Imagem do Carousel -->
         <div class="carousel-item active">
            <%= image_tag "one-piece.png", class: "img-carousel" %>
            <!-- Área Sobreposta -->
            <div class="carousel-overlay">
               <div class="text-light">
                  <%= image_tag "logo-one-piece.png", class: "img-carousel-logo" %>
                  <p class="caption">
                     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" class="classification" aria-hidden="true">
                        <path stroke="#ffffff" stroke-width="2"
                           d="m62.37 4.31-.019-.035c-.363-1.252-1.451-2.322-2.74-2.685h-.035c-.345-.109-.762-.127-1.143-.127H5.604c-.326 
                           0-.708.018-1.016.09h-.036c-1.67.345-3.012 1.96-3.084 3.647v22.186c0 10.195.018 20.734 0 31.11v.073c-.055.962.344
                           1.941 1.07 2.721.726.78 1.687 1.234 2.649 1.252h53.246c.29 0 .67-.018 1.016-.09 1.778-.418 3.174-2.177 
                           3.084-3.919V6.977c-.018-.254 0-.507 0-.743.018-.69.036-1.36-.146-1.887l-.018-.036z"/>
                        <path fill="#ffffff" 
                           d="m49.348 20.424-4.136 15.62h4.172l.363-15.638h-.399v.018zm-2.867-4.698H55.3v20.317h3.882v4.807h-3.882v7.057h-6.114V40.85h-8.726v-5.496l6.022-19.628zM30.862 
                           15.726h5.46v32.181H30.1V23.98a10.249 10.249 0 0 1-1.76 1.45c-.635.4-1.324.745-2.068 1.017V20.66c1.106-.635 2.05-1.36 
                           2.83-2.195a8.954 8.954 0 0 0 1.76-2.74M15.677 16.052H9.364l-4.427 32.09h8.853l.49-5.858h2.794l.49 
                           5.859h8.853l-4.408-32.09h-6.332zm0 7.402 1.488 13.17h-2.976l1.488-13.17z"/>
                     </svg>
                     <span class="caption-text">Dub | Leg</span>
                  </p>
                  <p class="text-carousel">
                     Embarque em uma jornada com One Piece. A épica série de anime criada pelo renomado Eiichiro Oda é um fenômeno, 
                     cativando corações de fãs de várias gerações ao longo de seus 25 anos de existência. Esta aventura em alto-mar é 
                     repleta de amizades inabaláveis, batalhas pela liberdade e a incessante busca pelos sonhos...
                  </p>
                  <div class="watch-add">
                     <a href="#" class="btn btn-watch">
                     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-arrow" >
                        <path d="M5.944 3C5.385 3 5 3.445 5 4.22v16.018c0 .771.384 1.22.945 1.22.234 0 
                              .499-.078.779-.243l13.553-7.972c.949-.558.952-1.468 0-2.028L6.724 3.243C6.444 3.078 
                              6.178 3 5.944 3m1.057 2.726l11.054 6.503L7 18.732l.001-13.006" />
                        </svg>
                        COMEÇAR A ASSISTIR T1 E1
                     </a>
                     <i class="fa-light fa-bookmark fa-lg icon-bookmark" 
                        data-bs-toggle="popover" 
                        data-bs-placement="top" 
                        data-bs-trigger="hover focus" 
                        data-bs-content="Adicionar na fila">
                     </i>
                  </div>
               </div>
            </div>
         </div>
      <!-- Botões de Controle -->
      <button class="carousel-control-prev arrow-carousel" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="arrow-carousel-detail" role="img" aria-hidden="true">
         <path d="M15.4 16.6L14 18l-6-6 6-6 1.4 1.4-4.6 4.6z" />
      </svg>
      </button>
      <button class="carousel-control-next arrow-carousel" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="arrow-carousel-detail" role="img" aria-hidden="true">
         <path d="M8.6 7.4L10 6l6 6-6 6-1.4-1.4 4.6-4.6z" />
      </svg>
      </button>
   </div>
</div>