<div class="nav-item bookmark">
   <%= link_to "#", class: "nav-link d-flex align-items-center" do %>
      <i class="fa-light fa-bookmark fa-lg" style="color: #f3f4f7;"></i>
   <% end %>      
</div>