<!-- Item Navegar com Dropdown -->
<li class="nav-item dropdown">
   <%= link_to "Navegar", "#", class: "nav-link dropdown-toggle", role: "button", data: { bs_toggle: "dropdown" }, aria: { expanded: "false" } %>
   <ul class="dropdown-menu">
      <div class="dropdown-columns">
         <!-- Primeira Coluna -->
         <div class="first-column">
         <% dropdown_menu_items.select { |col| col[:column] == "first-column" }.each do |column| %>
            <% column[:items]&.each do |item| %>
               <li><%= link_to item[:text], item[:href], class: "dropdown-item" %></li>
            <% end %>
         <% end %>
         </div>
         <!-- Gêneros -->
         <div class="genres-section">
         <% dropdown_menu_items.select { |col| col[:column] == "genres-section" }.each do |column| %>
            <% if column[:title] %>
               <li class="dropdown-title"><%= column[:title] %></li>
            <% end %>
            <% column[:items]&.each do |item| %>
               <li><%= link_to item[:text], item[:href], class: "dropdown-item" %>
            <% end %>
         <% end %>
         </div>
      </div>
   </ul>
</li>