<!-- Item Notícias com Dropdown -->
<li class="nav-item dropdown">
   <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Notícias
   </a>
   <ul class="dropdown-menu dropdown-menu-2">
      <li><a class="dropdown-item" href="https://www.crunchyroll.com/pt-br/news">Todas as Notícias</a></li>
      <li><a class="dropdown-item" href="https://www.crunchyroll.com/pt-br/animeawards/">Anime Awards</a></li>
      <li><a class="dropdown-item" href="https://www.crunchyroll.com/events/">Eventos & Experiências</a></li>
   </ul>
</li>

