<div class="nav-item search">
   <a class="nav-link d-flex align-items-center" href="https://www.crunchyroll.com/pt-br/search">
      <i class="fa-light fa-magnifying-glass fa-lg" style="color: #ffffff;"></i>
   </a>
</div>