@import 'home/*';
@import 'menu/*';
@import 'users/*';

body,
html {
   height: 100vh;
   overflow-y: auto;
   overflow-x: hidden;
   padding: 0;
   background-color: rgb(0, 0, 0) !important;

   /* Personalização da barra de rolagem */
   &::-webkit-scrollbar {
      width: 12px;
   }

   &::-webkit-scrollbar-track {
      background: rgba(26, 32, 39, 0.692);
   }

   &::-webkit-scrollbar-thumb {
      background: linear-gradient(180deg, rgb(2, 6, 23) 50%, rgb(17, 4, 28) 100%);
      border-radius: 6px;
   }

   &::-webkit-scrollbar-thumb:hover {
      background: rgb(55, 66, 81);
   }
}

.footer-main {
   max-width: 1130px;
   height: 6rem;
   padding-block-end: 1.125rem;
   border-top: 0.0625rem solid rgb(89, 89, 91);
  
   .text-footer-main {
      color: rgb(160, 160, 160);
      font-family: "Lato", sans-serif;
      --line-height: 1.125rem;
      font-size: .875rem;

      ::selection {
         color: rgb(255, 100, 10) !important; 
      }
   }

   .line-between {
      width: .0625rem;
      height: 1rem;
      background-color: rgb(74, 78, 88);
   }

   .form-select {
      max-width: 12rem; 
      padding: 0.25rem 2rem 0.25rem 0.75rem; 
      font-size: 0.875rem; 
      border: 1px solid rgb(89, 89, 91);
      background-color: transparent;
      color: rgb(160, 160, 160);
      border-radius: 4px;
      transition: all 0.3s ease;
      appearance: none; 

      background-image: url('data:image/svg+xml;charset=UTF-8,%3csvg xmlns%3d%22http://www.w3.org/2000/svg%22 viewBox%3d%220 0 4 5%22%3e%3cpath fill%3d%22rgb(160,160,160)%22 d%3d%22M2 0L0 2h4zM0 3l2 2 2-2z%22/%3e%3c/svg%3e');
      background-repeat: no-repeat;
      background-position: 0.5rem center; 
      background-size: 0.75rem;

      &:hover {
         border-color: #ff640a;
         color: #ff640a;
      }

      &:focus {
         box-shadow: none;
         border-color: #ff640a;
         color: #ff640a;
      }
   }

   .form-select option {
      background-color: #141519;
      color: #fff; 
   }
}