.footer-create-login {
    height: 52.4px;
    color: rgb(160, 160, 160);
    padding: 0 0 20px;
    margin: 0 197px;
    text-align: center;
    font-family: "Lato", sans-serif;

    ::selection {
        color: rgb(255, 100, 10);
    }

    .footer-back {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .footer-links-back {
        list-style: none;
    }

    .footer-link {
        color: rgb(160, 160, 160);
        text-decoration: none;
        font-size: 0.875rem;
        font-weight: 500;
        transition: color 0.2s;

        &:hover {
            color: rgb(255, 255, 255);
        }
    }

    .line-between {
        width: 0.0625rem;
        height: 1rem;
        background-color: rgb(89, 89, 91);
    }
}

/* Modal */
.custom-modal {
    width: 575px !important;
    height: 506px !important;
    margin: auto;
    box-shadow: 0px 4px 15px rgba(212, 211, 211, 0.2);
    overflow: hidden;
    color: rgb(251, 248, 248) !important;
    font-family: "Lato", sans-serif;
    display: flex;
    flex-direction: column;

    /* Header */
    .custom-header {
        height: 59.8px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 15px 10px 30px;
        border-bottom: 1px solid rgb(251, 248, 248);
        flex-shrink: 0;
    }

    /* Close Button */
    .custom-close {
        border: none;
        background: none;
        color: rgb(151, 149, 149);
        font-weight: 600;
        font-size: 0.85rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
        cursor: pointer;
        transition: color 0.3s ease;

        &:hover {
            color: rgb(60, 60, 60);
        }
    }

    /* Body */
    .custom-body {
        flex-grow: 1; 
        overflow-y: auto; 
        overflow-x: hidden; 
        padding: 15px 30px; 
        margin: 1px 0; 

        &::-webkit-scrollbar {
            width: 14px; 
            background: rgb(216, 216, 216); 
            border-radius: 10px; 
        }
    
        &::-webkit-scrollbar-thumb {
            background: rgb(216, 216, 216); 
            border-radius: 10px; 
            border: 2px solid rgb(30, 30, 30); 
        }
       
        &::-webkit-scrollbar-track {
            background: rgb(20, 20, 20); 
        }
      
        .title-modal {
            text-align: left;
            font-size: 1em;
            line-height: 1.5;
            margin: 10px 0;
            width: 100%;
            font-weight: bold;
        }

        .title-modal-2 {
            text-align: left;
            font-size: 1em;
            line-height: 1.5;
            padding-bottom: 10px;
            width: 100%;
            font-weight: bold;
        }
      
        .text-modal {
            text-align: left;
            width: 100%; 
            font-size: 0.812em;
            line-height: 1.5;
            margin-bottom: 25px;
            font-weight: 400;
        }
      
        .link-modal {
            color: rgb(0, 191, 255);
            text-align: left;
            font-size: 0.95em;
      
            &:hover {
                text-decoration: none;
            }
        }
    
        .expandable-container {
            border: 1px solid rgb(216, 216, 216);
            border-radius: 2px;
            margin-top: 10px;
            margin-bottom: 15px;
            transition: all 0.3s ease;
        
            .info-button {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 12px 15px;
                cursor: pointer;
        
                .icon {
                    font-size: 0.85rem;
                    font-weight: bolder;
                    transition: transform 0.3s ease;
                    color: rgb(39, 69, 92);
                }
        
                .info-text {
                    flex-grow: 1;
                    text-align: left;
                    margin-left: 10px;
                    font-weight: 700;
                    font-size: 0.87em;
                }
        
                .info-status {
                    color: rgb(56, 96, 190);
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 0.813em;
                }
            }
        
            .hidden-content {
                display: none;
                padding: 10px 15px;
                font-size: 0.812em;
                line-height: 1.5;
                text-align: left;
        
                p {
                    margin: 0;
                }
            }
        
            &.active {       
                .hidden-content {
                    display: block;
                }
            }
        }
    }

    /* Footer */
    .custom-footer {
        height: 72.6px;
        width: 100%;
        border-top: 1px solid rgb(251, 248, 248);
        display: flex;
        align-items: center;
        justify-content: flex-end; 
        padding: 0;
        flex-shrink: 0;

        .btn-modal {
            background-color: rgb(0, 191, 255);
            border-color: rgb(0, 191, 255);
            color: rgb(251, 248, 248);
            
            &:hover {
                background-color: rgb(0, 134, 179);
            }
        }

        .btn-1 {
            width: 149.84px;
            height: 37.6px;
            font-size: 0.78em;
            letter-spacing: 0.05em;
            font-weight: 900;
            margin: 19px 10px 17px 0;
            border-radius: 0.1em;
        }

        .btn-2 {
            width: 246.4px;
            height: 37.6px;
            font-size: 0.78em;
            letter-spacing: 0.05em;
            font-weight: 900;
            margin: 19px 20px 17px 0;
            border-radius: 0.1em;
        }
    }
}