.main-user {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    font-family: "Lato", sans-serif;
    padding-bottom: 10rem !important; 

    ::selection {
        color: rgb(255, 100, 10); 
    }

    .create {
        flex: 1;
        display: flex;
        justify-content: center;
        padding-inline: 1.25rem;
        min-height: 12.875rem;
        padding-block: 8.75rem 3.75rem;
        padding-block-end: 10rem;
        color: rgb(249, 249, 249);

        .main-card-create {
            max-width: 31rem;
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 1.25rem;
        }

        .title-create {
            --line-height: 2.75rem;
            font-size: 2.125rem;
        }

        .card-create {
            position: relative;
            text-align: initial;
            width: 100%;
            padding: 1.25rem;
            background-color: rgb(20, 21, 25);
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding-block: 2.5rem;
            padding-inline: 3rem;

            .text-welcome {
                --line-height: 1.5rem;
                font-size: 1rem;
                text-align: center;
                margin: 0;
            }

            .img-girl {
                position: absolute;
                z-index: 2;
                inset-block-start: -3.125rem;
                inset-inline-start: -8rem;
                width: 9.5rem;
            }

            .img-cat {
                position: absolute;
                z-index: 2;
                inset-block-start: -2.0625rem;
                inset-inline-end: -1.625rem;
                width: 6.625rem;
            }

            /*Política de privacidade*/
            .checkbox-all {
                display: flex;
                align-items: flex-start; /* Alinha checkbox e texto corretamente */
              
                .checkbox-inf {
                  cursor: pointer;
                  position: absolute;
                  top: 0;
                  left: 0;
                  visibility: hidden; /* Esconde o input padrão */
                }
              
                .checkbox-inf-body {
                  box-sizing: border-box;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  flex: 0 0 auto;
                  height: 1.25rem;
                  width: 1.25rem;
                  background-color: rgb(25, 46, 56);
                  border: 0.125rem solid rgb(160, 160, 160);
                  transition: border-color 0.2s ease;
                    
                  .checkbox-front {
                    fill: none;
                    height: 100%;
                    width: 100%;
              
                    .checkbox-back {
                      stroke-linecap: round;
                      stroke-dasharray: 180;
                      stroke-dashoffset: 180;
                      stroke: rgb(42, 189, 187);
                      transition: stroke-dashoffset 0.2s ease;
                    }
                  }
                }
              
                .check-inf {
                  display: flex;
                  align-items: center;
                  gap: 0.5rem; /* Espaço entre elementos internos */
                  color: rgb(160, 160, 160);
                  cursor: pointer;
                  position: relative;
                  transition: color 0.2s ease;
              
                  &:hover {
                    color: rgb(255, 255, 255);

                    .checkbox-inf-body {
                        border-color: rgb(255, 255, 255); 
                    }
                  }
              
                  .privacy-policy {
                    color: rgb(255, 100, 10);
                    text-decoration: none;
                    transition: color 0.2s ease;
              
                    &:hover {
                      color: rgb(255, 255, 255);
                    }
                  }
              
                  .text-inf {
                    line-height: 1.125rem;
                    font-size: 0.875rem;
                  }
                }
              
                /* Quando o checkbox está marcado */
                .checkbox-inf:checked + .check-inf .checkbox-inf-body {
                    background-color: rgb(25, 46, 56);
                    border-color: rgb(42, 189, 187); /* Borda muda para a cor de seleção */
                }

                .checkbox-inf:checked + .check-inf .checkbox-back {
                    stroke-dashoffset: 0; /* Mostra o traço */
                }

                .checkbox-inf:checked + .check-inf {
                    color: rgb(255, 255, 255);
                }
            }
        }
    
        .btn-main {
            text-align: center;
        
            .btn-next {
                height: 2.5rem;
                min-width: 7.5rem;
                padding: 0 1rem;
                border-color: rgb(89, 89, 91);
                font-size: .875rem;
                font-weight: 800;
                color: rgb(89, 89, 91);
            }

            .valid {
                border-color: rgb(255, 100, 10) !important;
                background-color: rgb(255, 100, 10) !important;
                color: rgb(0, 0, 0) !important;

                &:hover {
                    background-color: rgb(255, 120, 20) !important;
                }              
            }
        }

        .text-inf {
            line-height: 1.125rem;
            font-size: 0.875rem;

            .login {
                color: rgb(255, 100, 10);
                font-weight: 900;
                text-decoration: none;
                transition: color 0.2s ease;
                
                &:hover {
                    color: rgb(255, 255, 255);
                }
            }
        }
    }
}